.homescreen {
    margin: 1rem auto;
    padding: 0 1rem;
  }
  
  .homescreen__title {
    font-size: 2rem;
    font-weight: bold;
    color: #8000ff;
    margin: 3rem 0 2rem 0;
    text-align: center;
  }
  
  .homescreen__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  @media (max-width: 950px) {
    .homescreen__products {
      grid-template-columns: repeat(2, auto);
    }
  }
  
  @media (max-width: 630px) {
    .homescreen__products {
      grid-template-columns: 1fr;
    }
  }